.card-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.card-body {
  display: flex;
  gap: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: small;
}
