<div style="display: flex; justify-content: center">
  <p style="width: 50rem">
    Digiteq Automotive je přední společností v oblasti automobilových
    technologií, zaměřenou na vývoj a inovace v různých oblastech, včetně
    autonomního řízení, konektivity a infotainmentu. Společnost se pyšní tím, že
    přináší pokročilá řešení, která zlepšují zážitek z jízdy a zvyšují
    bezpečnost na silnicích. Digiteq Automotive nabízí širokou škálu služeb, od
    softwarového vývoje po testování a validaci. Jejich odborníci pracují na
    integraci moderních technologií, jako jsou pokročilé asistenční systémy
    řidiče (ADAS), infotainment systémy a komunikace mezi vozidly (V2V) a s
    infrastrukturou (V2I).
  </p>
</div>
