<div class="cars-container">
  <app-button-custom (click)="addCar()" label="Add car" type="addition" />
  <div style="display: flex; justify-content: center; gap: 2rem">
    @for (type of carTypes; track $index) {
    <app-button-custom
      (click)="filterCars(type)"
      [label]="type"
      type="classic"
      [isActive]="selectedCarType === type"
    />
    }
  </div>
  @if (loading$ | async) {
  <div>LOADING...</div>
  } @else {
  <div style="display: flex; gap: 2rem">
    @for (car of filteredCars; track $index) {
    <app-car-card [car]="car" (deleteCar)="deleteCar($event)"></app-car-card>
    }
  </div>
  }
</div>
